<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.basalasa">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Basalasa"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.ReviewBooks"
            android:exported="false" />
        <activity
            android:name=".activity.SettingChangePassword"
            android:exported="false" />
        <activity
            android:name=".activity.SettingChangeInformation"
            android:exported="false"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.BookDetail"
            android:exported="false" />
        <activity
            android:name=".activity.Login"
            android:exported="false" />
        <activity
            android:name=".activity.Checkout"
            android:exported="false" />
        <activity
            android:name=".activity.Cart"
            android:exported="false" />
        <activity
            android:name=".activity.ForgetPassword"
            android:exported="false" />
        <activity
            android:name=".activity.Register"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>