<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.basalasa">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        />

    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Basalasa"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme">
        <activity
            android:name=".activity.RequestList"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".activity.SellerBookDetails"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".activity.SellerBookManagementUpdate"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.AccountList"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".activity.SellerOrderList"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".activity.SellerBookManagement"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".activity.CustomerOrder"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".activity.SearchResults"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".activity.ReviewBooks"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".activity.SettingChangePassword"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.SettingChangeInformation"
            android:windowSoftInputMode="adjustPan"
            android:exported="false"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.BookDetail"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".activity.Login"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".activity.Checkout"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".activity.Cart"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".activity.ForgetPassword"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".activity.Register"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>